.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 13px 40px;

  background: $color_blue;
  border: 0;
  border-radius: 5px;

  cursor: pointer;
  color: $color_white;
  font-size: 15px;
  font-weight: 500px;
  outline: 0;

  transition: background 1s linear;

  &:hover {
    background: #4373a6;
  }

  &-small {
    padding: 5px 40px;
    margin: 16px 10px;

    font-size: 14px;
  }

  &-dark {
    padding: 5px 28px;
    margin: 0 10px;

    background: #242f3d;
  }

  &-google {
    padding: 13px 28px;
    margin: 0 10px;

    background: #242f3d;
  }
}
