.chat {
  grid-area: chat;
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;

  background-color: $color_dark;
}

.chat__sent {
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 70px;
}

.chat__recived {
  display: inline-flex;
  align-items: flex-end;
  width: 100%;
  height: 70px;
}

.chat__item {
  padding-bottom: 5px;
  margin: 0 5px;
}

.chat__message {
  padding: 6px 10px;

  border-radius: 5px;

  font-size: 14px;
  font-weight: 300;

  &-recived {
    background-color: $color_chatDark;
  }

  &-sent {
    background-color: $color_chatBlue;
  }
}

.chat__time {
  padding: 0 2px 0 10px;

  font-size: 12px;
  font-weight: 300;
  color: #7a8c9e;
}
