.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  padding: 15px;

  background-color: $color_darkGray;
}

.header__left {
  width: 80%;
}

.header__title {
  margin-bottom: 3px;

  font-size: 14px;
  color: $color_white;
}

.header__online {
  font-size: 14px;
  color: $color_textGray;
}
