.input__group {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.input {
  display: block;
  margin-bottom: 35px;
  width: 100%;

  background: none;
  border: 0;
  border-bottom: 1px solid #465362;


  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: $color_white;

  transition: border-bottom-color 1s linear;

  &::placeholder {
    padding: 3px;
    color: $color_textGray;
  }

  &:focus {
    outline: 0;
    border-bottom-color: $color_blue;
  }

  @media(max-width: $breakpoint_sm) {
    margin-bottom: 30px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #465362;
  -webkit-text-fill-color: $color_white;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.input__label {
  font-size: 14px;
  color: #d25151;

  position: absolute;
  top: -25px;
  left: 0;
}

.input__textarea {
  display: block;
  width: 100%;
  height: 100%;

  background-color: $color_darkGray;
  border-radius: 5px;
  border: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-size: 14px;
  color: $color_white;

  &::placeholder {
    padding: 30px 2px;

    color: $color_textGray;
  }

  &:focus {
    outline: 0;
  }
}

