.message {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  align-items: center;
  position: relative;

  &.sent {
    flex-direction: row-reverse;
  }
}

.message__name {
  padding: 0 5px;

  font-size: 14px;
  color: #7a8c9e;

  position: absolute;
  top: -5px;
}

.message__img {
  padding: 10px;
}

.message__avatar {
  width: 45px;
  height: 45px;

  border-radius: 50%;
}

.message__item {
  padding: 7px 15px;

  background-color: $color_chatDark;
  border-radius: 5px;

  &.sent {
    background-color: $color_chatBlue;
  }
}

.message__text {
  font-size: 14px;
  color: $color_white;
}

.message__date {
  float: right;
  padding: 3px 0 0 8px;

  font-size: 14px;
  color: #7a8c9e;
}


