.mobbar {
  max-width: 60%;
  width: 100%;
  height: 100vh;

  background-color: $color_darkGray;

  transition: 850ms;

  position: fixed;
  top: 0;
  left: -100%;
}

.mobbar.active {
  transition: 350ms;

  left: 0;
}
