.sidebar {
  grid-area: sidebar;

  background-color: $color_darkGray;
  border-right: 1px solid $color_dark;
}
.sidebar__search {
  display: flex;
  justify-content: center;
  padding: 14px 0 20px;
  max-height: 50px;
  height: 100%;
}

.sidebar__user {
  margin-top: 20px;
}
