$color_darkGray: #17212B;
$color_dark: #0E1621;
$color_blue: #5288c1;
$color_chatBlue: #2b5278;
$color_chatDark: #182533;
$color_textGray: #7f91a4;
$color_white: #ffffff;

// Media queries
$breakpoint_lg: 992px;
$breakpoint_md: 768px;
$breakpoint_sm: 576px;
